.fondo{
position: absolute;
z-index: 0;
opacity: 0.5;
    img{
        max-width: 1000px;
    }
}
.formulario{
    position: relative;
    top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 1;
    input{
        height: 50px;
        border: 0;
        border-radius: 4px;
        background-color: rgba(187, 186, 186, 0.774);
        outline: none;
        &:hover{
            border-bottom: 2px solid black;
        }
    }
}
